# Core
BOOTSTRAP_TIMEZONE=Africa/Cairo
BOOTSTRAP_DRY_RUN=no
BOOTSTRAP_NON_INTERACTIVE=yes
BOOTSTRAP_LOG_ROOT=/var/log/web-dev-bootstrap
BOOTSTRAP_STATE_ROOT=/var/lib/web-dev-bootstrap
FORCE_REPAIR=no
SKIP_EXISTING=yes
DEV_USER=ubuntu

# Web server
WEBSERVER=nginx

# PHP
INSTALL_PHP=yes
PHP_VERSIONS="8.2 8.3"
PHP_DEFAULT_VERSION=8.3
INSTALL_COMPOSER=yes
COMPOSER_DEV_USER=ubuntu
ENABLE_PPA_ONDREJ_PHP=yes
PRIMARY_PHP_EXTENSIONS="mysql pgsql sqlite3 curl mbstring xml zip intl bcmath gd"

# Node
INSTALL_NODE=yes
NODE_MAJOR=22
ENABLE_NODESOURCE=yes
INSTALL_PNPM=yes
INSTALL_YARN=no

# Databases
DB_SERVER=mariadb
INSTALL_POSTGRESQL=yes
INSTALL_REDIS=yes

# Tools
INSTALL_PHPMYADMIN=no
PHPMYADMIN_ALIAS=/phpmyadmin
ENABLE_UNIVERSE=yes
